html{
    font-family: 'Roboto', sans-serif;
}

.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/*Header*/

.header{
    display: flex;
    min-height: 80px;
    width: 1300px;
    background-color: #213B7E;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    }

    .site-logo{

    }

    .site-menu{
    display: flex;
    align-self: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
    /*text-decoration-line: underline; делает нижнее подчеркивание, как в макете,
    но почему-то здесь это не сработало, хотя в лекции добавили именно здесь*/
    }

    .site-menu > li {
        display: flex;
    }

    .menu-link{
        display: flex;
        align-items: center;
        padding: 0 18px;
        background-color: #213B7E;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 20px;
        /*font-family: 'Roboto', sans-serif; вставила шрифт на всю страницу сразу
        т к на стр в макете один шрифт, ч/з селектор html, см здесь вверху*/ 
        text-decoration-line: underline;  /* вставила это свойство здесь, тк в классе
        .site-menu это свойство не сработало почему-то*/
    }

    .menu-link:hover{
        background-color: #FFFFFF;
        color: #213B7E;
        text-decoration-line: none;
    }

    .login-button{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #FFFFFF;
        text-decoration: none; /*убирает нижнее подчеркивание у текста ссылки
                                у нас кнопка = ссылка*/
        background-color: #EA5D21;
        width: 153px;
        min-height: 50px;
        /*font-family: 'Roboto', sans-serif; вставила шрифт на всю страницу сразу
        т к на стр в макете один шрифт, ч/з селектор html, см здесь вверху*/ 
        font-weight: 400;
    }

    /* Main*/

    .main{
        min-height: 720px;
        width: 911px;
        margin: 0 auto;
        flex-grow: 1;
    }

    .main-heading{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
    }

    .class-photo{
        width: 523px;
        height: 316px;
    }

    h2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
    }

    .intro-text {
        width: 634px;
        height: 127px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
    }

    /* footer*/

    .footer {
        display: flex;
        box-sizing: border-box;
        width: 1300px;
        min-height: 60px;
        margin: 0 auto;
        padding: 0 16px;
        justify-content: center;
        align-items: center;
        background-color: #213B7E;
    }

    .copyright {

    }

    .innop-link {

    }